<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <thymeleaf th:replace="head :: head" /> -->

    <title>JupiFood</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/483111cb5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/main.css" modelType="text/css" />
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{home/}" class="nav-link">Home</a></li>
                <li class="active"><a th:href="@{cart/}" class="nav-link">Cart</a></li>
                <li><a th:href="@{profile/}" class="nav-link">Profile</a></li>
                <li><a th:href="@{logout/}" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="cart-page">
        <h1 class="page-title">Cart</h1>
        <div class="container">
            <div class="row" th:each="recipe : ${recipeDtoList}">
                <div class="img-div">
                    <img th:src="${recipe.photoUrl}" alt="receipt img" />
                </div>
                <div class="description">
                    <h2 class="title" th:text="${recipe.name}">sadfasdf</h2>
                    <p class="content" th:text="${recipe.ingredients}">asdfasdfasdfasdfasdfa</p>
                </div>
                <div class="quantity-container">
                    <button class="circle plus-minus">
                        <i class="fas fa-minus"></i>
                    </button>
                    <span class="quantity" th:text="${}"></span>
                    <button class="circle plus-minus">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button class="circle remove">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
            <div class="finish">
                <button class="finish-btn">Finish</button>
            </div>
        </div>
    </main>
</body>

</html>