<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/483111cb5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/main/webapp/WEB-INF/static/css/main.css">
    <title>Team Beta</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="active"><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Cart</a></li>
                <li><a href="#" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="cart-page">
        <div class="container">
            <div class="row">
                <div class="img-div">
                    <img src="../static/images/francesinha.jpg" alt="receipt img">
                </div>
                <div class="description">
                    <h2 class="title">Receipt Name</h2>
                    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis dolorum aliquid doloribus repellat ad, velit possimus iste veniam consectetur tempora rerum id molestiae ullam explicabo atque quidem quod eum.</p>
                </div>

                <div class="quantity-container">
                    <button class="circle plus-minus"><i class="fas fa-minus"></i></button>
                    <span class="quantity">1</span>
                    <button class="circle plus-minus"><i class="fas fa-plus"></i></button>
                    <button class="circle remove"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="finish">
                <button class="finish">Finish</button>
            </div>
        </div>
    </main>
</body>

</html>