<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    <thymeleaf th:replace="head :: head"/>-->
    <title>JupiFood</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/483111cb5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/main.css" modelType="text/css" />
    <link rel="shortcut icon" href="../static/images/favicon2.png" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="active"><a th:href="@{home/}" class="nav-link">Home</a></li>
                <li><a th:href="@{cart/}" class="nav-link">Cart</a></li>
                <li><a th:href="@{profile/}" class="nav-link">Profile</a></li>
                <li><a th:href="@{logout/}" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="page-title">Home</h1>

    <main class="home-page">
        <div class="cards-container">
            <div class="card" th:each="recipe : ${recipeDtoList}">
                <div class="img-container">
                    <img th:src="${recipe.photoUrl}" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name" th:text="${recipe.name}"></h3>
                    <p class="receipt-description"></p>
                </div>
                <div class="quantity-label">
                    <p class="label">Quantity</p>
                </div>
                <div class="buttons-container">
                    <div class="quantity-container">
                        <button class="quantity circle" th:onclick="decrement(${recipe.id})"><i class="fas fa-minus"></i></button>
                        <span class="quantity-span" th:id="'quantity' + ${recipe.id}">1</span>
                        <button class="quantity circle" th:onclick="increment(${recipe.id})"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <a class="remove rounded" th:href="@{/pedidos/${userDto.id}(rcid=${rcid},brid=${brid})','${recipe.id}}">Change</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../static/js/quantity.js"></script>
</body>

</html>