<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <thymeleaf th:replace="head :: head"/>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="active"><a th:href="@{home/}" class="nav-link">Home</a></li>
                <li><a th:href="@{'/user/'+ ${userDto.id}}" class="nav-link">Cart</a></li>
                <li><a th:href="@{'/user/'+ ${userDto.id}}" class="nav-link">Profile</a></li>
                <li><a th:href="@{/}" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="page-title">Home</h1>
    <aside class="category-aside">
        <form action="/checkout" method="GET" th:object="${userChoice}">
            <div class="category-selector">
                <input hidden th:value="*{uid}">
                <a href="1?type=healthy">Healthy</a>
            </div>
            <div class="category-selector middle">
                <a href="1?type=vegan">Vegan</a>
            </div>
            <div class="category-selector">
                <a href="1?type=vegetarian">Vegan</a>
            </div>
        </form>
    </aside>
    <main class="home-page">
        <form th:object="${list}" th:action="@{'/checkout'}" method="GET">
            <div class="cards-container">
                <div class="card" th:each="pedido : *{pedidos}">
                    <input hidden th:value="${pedido.userId}" />
                    <input hidden th:value="${pedido.recipeId}" />
                    <div class="img-container">
                        <img th:src="${pedido.recipe.photoUrl}" alt="receipt image">
                    </div>
                    <div class="description">
                        <h3 class="receipt-name" th:text="${pedido.recipe.name}"></h3>
                        <p class="receipt-description" th:text="${pedido.recipe.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
                            deleniti vel delectus numquam facere veniam aperiam. <a th:href="@{'/recipe/' + ${pedido.recipe.id}}" class="view-more">Learn more</a>
                        </p>
                    </div>
                    <div class="quantity-label">
                        <p class="label">Quantity</p>
                    </div>
                    <div class="buttons-container">
                        <div class="quantity-container">
                            <input type="number" min="1" th:value="${pedido.quantity}" />
                        </div>
                        <div class="remove-container">
                            <a class="remove rounded" th:href="@{'/order/'+ ${userDto.id}(rcid=${rcid} , brid=${brid} + ',' + ${pedido.recipe.id})}">Change</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-container">
                <button href="/checkout" type="submit" class="submit-btn">Checkout</button>
            </div>
        </form>
    </main>
</body>

</html>