<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/483111cb5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/main/webapp/WEB-INF/static/css/main.css">
    <title>Team Beta</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="active"><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Cart</a></li>
                <li><a href="#" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="cards-container">
            <div class="card">
                <div class="img-container">
                    <img src="" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name">Receipt Name 1</h3>
                    <p class="receipt-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, suscipit optio! Aperiam, excepturi eaque quaerat consequatur autem quo, cupiditate laudantium ipsa, modi asperiores aut non ab fugit possimus sunt exercitationem?</p>
                </div>
                <div class="buttons-container">
                    <div class="add-btn">
                        <button class="add">Add to cart</button>
                    </div>
                    <div class="quantity-container">
                        <button class="minus quantity"><i class="fas fa-minus"></i></button>
                        <form action="" method="POST">
                            <input type="number" name="quantity" id="quantity">
                        </form>
                        <button class="plus quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <button class="remove">Not interested</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name">Receipt Name 2</h3>
                    <p class="receipt-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, suscipit optio! Aperiam, excepturi eaque quaerat consequatur autem quo, cupiditate laudantium ipsa, modi asperiores aut non ab fugit possimus sunt exercitationem?</p>
                </div>
                <div class="buttons-container">
                    <div class="add-btn">
                        <button class="add">Add to cart</button>
                    </div>
                    <div class="quantity-container">
                        <button class="minus quantity"><i class="fas fa-minus"></i></button>
                        <form action="" method="POST">
                            <input type="number" name="quantity" id="quantity">
                        </form>
                        <button class="plus quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <button class="remove">Not interested</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name">Receipt Name 3</h3>
                    <p class="receipt-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, suscipit optio! Aperiam, excepturi eaque quaerat consequatur autem quo, cupiditate laudantium ipsa, modi asperiores aut non ab fugit possimus sunt exercitationem?</p>
                </div>
                <div class="buttons-container">
                    <div class="add-btn">
                        <button class="add">Add to cart</button>
                    </div>
                    <div class="quantity-container">
                        <button class="minus quantity"><i class="fas fa-minus"></i></button>
                        <form action="" method="POST">
                            <input type="number" name="quantity" id="quantity">
                        </form>
                        <button class="plus quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <button class="remove">Not interested</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name">Receipt Name 4</h3>
                    <p class="receipt-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, suscipit optio! Aperiam, excepturi eaque quaerat consequatur autem quo, cupiditate laudantium ipsa, modi asperiores aut non ab fugit possimus sunt exercitationem?</p>
                </div>
                <div class="buttons-container">
                    <div class="add-btn">
                        <button class="add">Add to cart</button>
                    </div>
                    <div class="quantity-container">
                        <button class="minus quantity"><i class="fas fa-minus"></i></button>
                        <form action="" method="POST">
                            <input type="number" name="quantity" id="quantity">
                        </form>
                        <button class="plus quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <button class="remove">Not interested</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name">Receipt Name 4</h3>
                    <p class="receipt-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, suscipit optio! Aperiam, excepturi eaque quaerat consequatur autem quo, cupiditate laudantium ipsa, modi asperiores aut non ab fugit possimus sunt exercitationem?</p>
                </div>
                <div class="buttons-container">
                    <div class="add-btn">
                        <button class="add">Add to cart</button>
                    </div>
                    <div class="quantity-container">
                        <button class="minus quantity"><i class="fas fa-minus"></i></button>
                        <form action="" method="POST">
                            <input type="number" name="quantity" id="quantity">
                        </form>
                        <button class="plus quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <button class="remove">Not interested</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="" alt="receipt image">
                </div>
                <div class="description">
                    <h3 class="receipt-name">Receipt Name 4</h3>
                    <p class="receipt-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, suscipit optio! Aperiam, excepturi eaque quaerat consequatur autem quo, cupiditate laudantium ipsa, modi asperiores aut non ab fugit possimus sunt exercitationem?</p>
                </div>
                <div class="buttons-container">
                    <div class="add-btn">
                        <button class="add">Add to cart</button>
                    </div>
                    <div class="quantity-container">
                        <button class="minus quantity"><i class="fas fa-minus"></i></button>
                        <form action="" method="POST">
                            <input type="number" name="quantity" id="quantity">
                        </form>
                        <button class="plus quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="remove-container">
                        <button class="remove">Not interested</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>