<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/webapp/WEB-INF/static/css/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Cart</a></li>
                <li><a href="#" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section class="receipt-image">
        <div class="overlay">
            <h1>Receipt Name</h1>
            <br>
        </div>
    </section>
    <main class="receipt-page">
        <div class="grid-container">
            <div class="preparation">
                <h3 class="title">Preparation</h3>
                <p class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis est amet voluptas maxime dolor harum odit necessitatibus veritatis saepe. Vitae error a maiores placeat sequi! Ut nisi fugiat nobis? Ratione?
                </p>
            </div>
            <div class="right">
                <div class="engredients">
                    <h4 class="title">Ingredients</h4>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cum error, inventore corporis illum accusamus. Provident magni voluptatibus similique! Repudiandae veritatis numquam et. Earum id fugit repudiandae molestias, ad deleniti.</p>
                </div>
                <div class="category">
                    <h4 class="title">Category</h4>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cum error, inventore corporis illum accusamus. Provident magni voluptatibus similique! Repudiandae veritatis numquam et. Earum id fugit repudiandae molestias, ad deleniti.</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>