<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    <thymeleaf th:replace="head :: head" />-->

    <title>JupiFood</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/483111cb5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/main.css" modelType="text/css" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{home/}" class="nav-link">Home</a></li>
                <li><a th:href="@{cart/}" class="nav-link">Cart</a></li>
                <li class="active"><a th:href="@{profile/}" class="nav-link">Profile</a></li>
                <li><a th:href="@{logout/}" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="userform-page">
        <h1 class="page-title">User Information</h1>
        <form>
            <div class="group">
                <input type="text" name="firstName" id="firstName" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="firstName">First Name</label>
            </div>

            <div class="group">
                <input type="text" name="lastName" id="lastName" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="lastName">Last Name</label>
            </div>

            <div class="group">
                <input type="email" name="email" id="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="email">Email</label>
            </div>

            <div class="group">
                <input type="text" name="phone" id="phone" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="phone">Phone Number</label>
            </div>

            <div class="group">
                <input type="text" name="address" id="address" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="address">Address</label>
            </div>
            <button class="submit-btn" type="submit" value="Submit">Submit</button>
        </form>
    </main>
</body>

</html>