<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/webapp/WEB-INF/static/css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Cart</a></li>
                <li><a href="#" class="nav-link">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>User Profile</h4>

                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <div class="col-sm-8">
                                    <h4 style="color:#00b1b1;">Prasad Shankar Huddedar </h4>
                                    <span>
                                        <p>Aspirant</p>
                                    </span>
                                    <br>
                                </div>
                                <div class="col-sm-3 col-xs-6 "><a><button class="col-sm-6">Edit</button></a></div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">


                                <div class="col-sm-6 col-xs-6 tital ">First Name:</div>
                                <div class="col-sm-3 col-xs-6 ">Prasad</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Last Name:</div>
                                <div class="col-sm-3"> Shankar</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Email:</div>
                                <div class="col-sm-3"> agostinho.ludomiro1960@gmail.com</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Phone Number:</div>
                                <div class="col-sm-3">15 Jun 2016</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Date Of Birth:</div>
                                <div class="col-sm-3">11 Jun 1998</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Place Of Birth:</div>
                                <div class="col-sm-3">Shirdi</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Nationality:</div>
                                <div class="col-sm-3">Indian</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital ">Relition:</div>
                                <div class="col-sm-3">Hindu</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-6 col-xs-6 tital "></div>
                                <div class="col-sm-3"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>