.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;

    .cards-container {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .card {
            padding: 1rem;
            text-align: center;
            background-color: #dddddd;
            border-radius: 10px;
        }

        .img-container {

            img {
                width: 100%;
            }
        }

        .description {

            h3 {
                margin: 1rem 0;
            }
        }

        .quantity-label {
            margin: 1rem 0 .5rem;
            text-align: left;

            .label {
                font-weight: bold;
            }
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;


            button {
                cursor: pointer;
                transition: .2s;
            }

            button.rounded {
                border-radius: 1rem;
                padding: .4rem 1.5rem;
            }

            .remove {
                background-color: var(--color-remove-btn);
                color: #ffffff;
                border: 2px solid var(--color-remove-btn);

                &:hover {
                    background-color: var(--color-background-quantity-btns);
                    color: var(--color-remove-btn);
                }
            }

            .quantity-container {
                display: flex;
                align-items: center;

                .circle {
                    padding: .2rem;
                    border-radius: 50%;
                }

                .quantity-span {
                    font-weight: bold;
                    margin: 0 .5rem;
                }

                .quantity {
                    background-color: var(--color-quantity-btns);
                    color: #ffffff;
                    border: 2px solid var(--color-quantity-btns);

                    &:hover {
                        color: var(--color-quantity-btns);
                        background-color: var(--color-background-quantity-btns);
                    }
                }
            }
        }
    }
}