.receipt-image {
    background: url('../images/francesinha.jpg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;

    .overlay {
        width: 100%;
        height: 100%;
        color: #FFF;
        text-shadow: 5px 5px 5px #333;
    }

    h1 {
        font-family: 'Poppins', cursive;
        font-size: 80px;
        margin-bottom: 30px;
    }

    h3,
    p {
        margin-bottom: 30px;
    }
}

.receipt-page {
    margin-top: 2rem;

    .grid-container {
        display: grid;
        grid-gap: 5rem;
        text-align: center;

        .preparation {

            .title {
                font-size: 2rem;
            }
        }

        .right {

            .engredients {
                .title {
                    font-size: 1.5rem;
                }
            }

            .category {
                margin-top: 2rem;

                .title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}