html {
    --color-home-aside-background: #ffd166;
    --color-home-category-submit-bg: #F94144;
    --color-home-category-submit-txt: #ffffff;
    --color-quantity-btns: #118AB2;
    --color-remove-btn: #ff0000;
    --color-background-quantity-btns: #f1f1f1;
    --color-card-background: #f1f1f1;
}