:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #118AB2;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul :hover {
  cursor: pointer;
  background-color: #073B4C;
}

header nav ul li {
  padding: .8rem 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

header nav ul .active {
  background-color: #073B4C;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
}

main .cards-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

main .cards-container .card {
  padding: 1rem;
  text-align: center;
  background-color: #dddddd;
  border-radius: 10px;
}

main .cards-container .description h3 {
  margin: 1rem 0;
}

main .cards-container .quantity-label {
  margin: 1rem 0 .5rem;
  text-align: left;
}

main .cards-container .quantity-label .label {
  font-weight: bold;
}

main .cards-container .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cards-container .buttons-container button {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

main .cards-container .buttons-container button.rounded {
  border-radius: 1rem;
  padding: .4rem 1.5rem;
}

main .cards-container .buttons-container .remove {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #ff0000;
}

main .cards-container .buttons-container .remove:hover {
  background-color: #ffffff;
  color: #ff0000;
}

main .cards-container .buttons-container .quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cards-container .buttons-container .quantity-container input[type=number]::-webkit-inner-spin-button,
main .cards-container .buttons-container .quantity-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .cards-container .buttons-container .quantity-container .circle {
  padding: .2rem;
  border-radius: 50%;
}

main .cards-container .buttons-container .quantity-container .quantity-span {
  font-weight: bold;
  margin: 0 .5rem;
}

main .cards-container .buttons-container .quantity-container .quantity {
  background-color: #118AB2;
  color: #ffffff;
  border: 2px solid #118AB2;
}

main .cards-container .buttons-container .quantity-container .quantity:hover {
  color: #118AB2;
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */





/*{padding: 0; margin: 0; box-sizing: border-box;}*/
.receipt-image {
  background: url('../images/francesinha.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	/*background-attachment: fixed;*/
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
.receipt-image .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 5px 5px 5px #333;
  /*background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);*/
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}



/* tabela Preparation, Ingredients, Type */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". Preparation Ingredients\\\/Type ."
    ". . . .";
}
.Preparation { grid-area: Preparation; }
.Ingredients\\\/Type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Ingredients Ingredients Ingredients"
    "Type Type Type";
  grid-area: Ingredients\\\/Type;
}
.Ingredients { grid-area: Ingredients; }
.Type { grid-area: Type; }




