@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;700&display=swap');

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--color-header-bg);

    nav {

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;


            li {
                padding: .8rem 2rem;

                a {
                    text-decoration: none;
                    color: #ffffff;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-header-bg-active);
                }
            }

            .active {
                background-color: var(--color-header-bg-active);
            }
        }
    }
}

main {
    padding: 1.5rem
}

@import 'vars';
@import 'userform';
@import 'home';
@import 'receipt';
@import 'cart';
@import 'desktop';