:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #118AB2;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul :hover {
  cursor: pointer;
  background-color: #073B4C;
}

header nav ul li {
  padding: .8rem 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

header nav ul .active {
  background-color: #073B4C;
}

main {
  padding: 1.5rem;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
}

.home-page .cards-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.home-page .cards-container .card {
  padding: 1rem;
  text-align: center;
  background-color: #dddddd;
  border-radius: 10px;
}

.home-page .cards-container .description h3 {
  margin: 1rem 0;
}

.home-page .cards-container .quantity-label {
  margin: 1rem 0 .5rem;
  text-align: left;
}

.home-page .cards-container .quantity-label .label {
  font-weight: bold;
}

.home-page .cards-container .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .cards-container .buttons-container button {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.home-page .cards-container .buttons-container button.rounded {
  border-radius: 1rem;
  padding: .4rem 1.5rem;
}

.home-page .cards-container .buttons-container .remove {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #ff0000;
}

.home-page .cards-container .buttons-container .remove:hover {
  background-color: #ffffff;
  color: #ff0000;
}

.home-page .cards-container .buttons-container .quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .cards-container .buttons-container .quantity-container input[type=number]::-webkit-inner-spin-button,
.home-page .cards-container .buttons-container .quantity-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home-page .cards-container .buttons-container .quantity-container .circle {
  padding: .2rem;
  border-radius: 50%;
}

.home-page .cards-container .buttons-container .quantity-container .quantity-span {
  font-weight: bold;
  margin: 0 .5rem;
}

.home-page .cards-container .buttons-container .quantity-container .quantity {
  background-color: #118AB2;
  color: #ffffff;
  border: 2px solid #118AB2;
}

.home-page .cards-container .buttons-container .quantity-container .quantity:hover {
  color: #118AB2;
  background-color: #ffffff;
}

.receipt-image {
  background: url("../images/francesinha.jpg");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

.receipt-image .overlay {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 5px 5px 5px #333;
}

.receipt-image h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

.receipt-image h3,
.receipt-image p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.receipt-page {
  margin-top: 2rem;
}

.receipt-page .grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
  text-align: center;
}

.receipt-page .grid-container .preparation .title {
  font-size: 2rem;
}

.receipt-page .grid-container .right .engredients .title {
  font-size: 1.5rem;
}

.receipt-page .grid-container .right .category {
  margin-top: 2rem;
}

.receipt-page .grid-container .right .category .title {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1275px) {
  header nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main {
    width: 75%;
    margin: auto;
  }
  .receipt-page .grid-container {
    grid-gap: 8rem;
    -ms-grid-columns: minmax(150px, 65%) 1fr;
        grid-template-columns: minmax(150px, 65%) 1fr;
  }
  .receipt-image .overlay {
    padding: 100px;
  }
}
/*# sourceMappingURL=main.css.map */





/*user info*/
input.hidden {
  position: absolute;
  left: -9999px;
}

.tital{
  font-size:16px; font-weight:500;
}

.bot-border{
  margin:15px 0  15px 0
}