.userform-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;

	.page-title {
		font-family: 'Poppins';
		font-size: 3rem;
		margin-bottom: 5rem;
		color: var(--color-user-form-title);
	}

	.container {
		width: 600px;
		margin: 30px auto 0;
		display: block;
		background: #FFF;
		padding: 10px 50px 50px;
	}

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}

	h2 small {
		font-weight: normal;
		color: #888;
		display: block;
	}

	.footer {
		text-align: center;
	}

	.footer a {
		color: #118ab2;
	}

	.group {
		position: relative;
		margin-bottom: 45px;
	}

	input {
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 300px;
		border: none;
		border-bottom: 1px solid #118ab2;
	}

	input:focus {
		outline: none;
	}

	label {
		color: #999;
		font-size: 18px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}

	/* active state */
	input:focus~label,
	input:valid~label {
		top: -20px;
		font-size: 14px;
		color: #073b4c;
	}

	/* BOTTOM BARS ================================= */
	.bar {
		position: relative;
		display: block;
		width: 300px;
	}

	.bar:before,
	.bar:after {
		content: '';
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: #073b4c;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}

	.bar:before {
		left: 50%;
	}

	.bar:after {
		right: 50%;
	}

	/* active state */
	input:focus~.bar:before,
	input:focus~.bar:after {
		width: 50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
		position: absolute;
		height: 60%;
		width: 100px;
		top: 25%;
		left: 0;
		pointer-events: none;
		opacity: 0.5;
	}

	/* active state */
	input:focus~.highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation: inputHighlighter 0.3s ease;
		animation: inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@-webkit-keyframes inputHighlighter {
		from {
			background: #073b4c;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	@-moz-keyframes inputHighlighter {
		from {
			background: #073b4c;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	@keyframes inputHighlighter {
		from {
			background: #073b4c;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	.submit-btn {
		cursor: pointer;
		transition: .2s;
		border-radius: 1rem;
		padding: .4rem 1.3rem;
		border: none;
		font-size: 1rem;
		font-weight: bold;
		background-color: var(--color-save-btn-bg);
		color: var(--color-save-btn-txt);
		width: 100%;
		margin-top: 4rem;
	}
}